**Class Challenges (Set One)** **Fundamentals **

1)
Ask for the user’s first name and display the output message
Hello [First Name] .

In [2]:
first_name = input('Enter first name: ')
print(f"Hello {first_name} ")

Enter first name: sai
Hello sai

2)
Ask for the user’s first name and then ask for their surname and display the output message
Hello [First Name] [Surname].

In [3]:
first = input('Enter first name: ')
sur_name = input('Enter last name: ')
print(f'Hello {first} {sur_name}')

Enter first name: sai
Enter last name: yip
Hello sai yip

3)
Write code that will display the joke “What do you call a bear with no teeth?” and on the next line display the answer “A gummy bear!” Try to create it using only one line of code.

In [5]:
print('what do you call a bear with no teeth?', '\nA gummy bear!')

what do you call a bear with no teeth?
A gummy bear!

4)
Ask the user to enter two numbers. 
Add them together and display the answer as
The total is [answer].

In [15]:
a,b = input('Enter two numbers: ')
sum = int(a) + int(b)
print(sum)

Enter two numbers: 24
6

5)
Ask the user to enter three numbers. 
Add together the first two numbers and then multiply this total by the third. 
Display the answer as The answer is
[answer].

In [23]:
a,b,c = input('Enter three numbers: ')
product = (int(a) + int(b))*int(c)
print(product)

Enter three numbers: 234
20

6) 
Ask how many slices of pizza the user started with and ask how many slices
they have eaten.
Work out how many slices they have left and display the answer in a user friendly
format.

In [27]:
Pizza = int(input('How many pizza did you start with?: '))
Slices = int(input('How many slices did you eat?: '))
Left = Pizza - Slices
print(Left)

How many pizza did you start with?: 3
How many slices did you eat?: 2
1

7)
Ask the user for their name and their age. 
Add 1 to their age and display the output [Name] next birthday you
will be [new age].

In [28]:
name = input('Enter name: ')
age = int(input('Enter age: ')) + 1
print(f"Hello {name} " + f"next birthday you will be {age}")

Enter name: Sai
Enter age: 23
Hello Sai next birthday you will be 24

8) 
Ask for the total price of the bill, then ask how many diners there are. 
Divide the total bill by the number of diners and show how much each
a person must pay.

In [30]:
Bill = float(input('Total bill price: '))
diners = int(input('How many are dining with you?: '))
totalBill = Bill/diners
print(f"each person should pay {totalBill}")

Total bill price: 32.30
How many are dining with you?: 3
each person should pay 10.766666666666666

9)
Write a program that will ask for a number of days and then will show how many hours, minutes and seconds are in that number of days.

In [32]:
day = int(input('Number of days: '))
seconds = 86400 * day
hours = 24 * day
minutes = 1440 * day
print(f'there are a total of {seconds} seconds {hours} hours {minutes} minutes in {day} days')

Number of days: 3
there are a total of 259200 seconds 72 hours 4320 minutes in 3 days

10)
There are 2,204 pounds in a kilogram. Ask the user to enter a weight in kilograms and convert it to pounds.

In [41]:
Pound = 2.204
Kilogram = int(input('Enter your weight: '))
conversion = Kilogram * Pound
print(conversion)

Enter your weight: 100
220.4

11) 
Task the user to enter a number over 100 and then enter a number under 10 and tell them how many times the smaller number goes into the larger number in a user-friendly format.

In [40]:
check = True
while (check == True):
  over = float(input("Enter a number over 100: "))
  under = float(input("Enter a number under 10: "))
  if over > 100.00 and under < 10.00: 
    check = False
  else:
    check = True
  
howmany = over/under
print(f'{under} goes into {over} about {howmany} times')

Enter a number over 100: 300
Enter a number under 10: 4
4.0 goes into 300.0 about 75.0 times

# Class Challenge (Set 2) If Statements

1)
Ask for two numbers. If
the first one is larger
than the second, display
the second number first
and then the first
number, otherwise show
the first number first and
then the second.

2) Ask the user to enter a
number that is under 20. If they enter a
number that is 
20 or
more, display the
message “Too high”,
otherwise display
“Thank you”.

3) Ask the user to enter a
number between 10 and 20
(inclusive). If they enter a
number within this range,
display the message “Thank
you”, otherwise display the
message “Incorrect answer"

4) Ask the user to enter their favourite colour. If they enter “red”, “RED” or
“Red” display the message “I like red too”, otherwise display the message
“I don’t like [colour], I prefer red”.

5) Ask the user if it is raining and convert their answer to lower case
so it doesn’t matter what case they type it in. If they answer “yes”,
ask if it is windy. If they answer “yes” to this second question,
display the answer “It is too windy for an umbrella”, otherwise
display the message “Take an umbrella”. If they did not answer yes
to the first question, display the answer “Enjoy your day”.

6) Ask the user’s age. If they
are 18 or over, display the
message “You can vote”, if
they are aged 17, display the
message “You can learn to
drive”, if they are 16, display
the message “You can buy a
lottery ticket”, if they are
under 16, display the
message “You can go Trickor-
Treating”.

7) Ask the user to enter a number. If it is under 10,
display the message “Too low”, if their number is
between 10 and 20, display “Correct”, otherwise
display “Too high”.

8) Ask the user to enter 1, 2 or 3. If they enter a 1, display
the message “Thank you”, if they enter a 2, display
“Well done”, if they enter a 3, display “Correct”. If
they enter anything else, display “Error message”.

9) Ask the user to enter 1, 2 or 3. If they enter a 1, display
the message “Thank you”, if they enter a 2, display
“Well done”, if they enter a 3, display “Correct”. If
they enter anything else, display “Error message”.